body{
    background: orange;
}

#container{
    background: DarkTurquoise;
    width: 360px;
    margin: 0 auto;
    border: 3px solid red;
}

.completed{
    color: green;
    text-decoration: line-through;
}